[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==4.*"
waitress = { markers="sys_platform == 'win32'"}
gunicorn = { markers="sys_platform == 'linux'"}

[dev-packages]
pytest-cov = "==3.*"
python = "^3.9"
Flask = "^2.3.2"
python-dotenv = "^1.0.0"
Flask-SQLAlchemy = "^3.0.3"
Flask-Migrate = "^4.0.4"
gunicorn = "^20.1.0"
Flask-Cors = "^3.0.10"
requests = "^2.31.0"
flasgger = "^0.9.7"
psycopg2-binary = "^2.9.6"
alembic = "^1.11.1"
flask-dantic = "^0.0.6"
openpyxl = "^3.1.2"
flake8 = "^6.0.0"
autopep8 = "^2.0.2"
pytest = "^7.3.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
